@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/ship.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Adjust the transparency (0.0 to 1.0) */
    z-index: -1; /* Ensure the image stays in the background */
}

.wrapper {
    width: 420px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .logo {
    width: 100px;  /* Adjust the size as needed */
    height: auto;  /* Maintain the aspect ratio */
    display: block;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(18, 5, 5, 0.364);
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color:#000;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: teal;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .forgot-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}

.forgot-link p a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;

}